* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'quick';
    src: url(Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'ubuntu';
    src: url(Fonts/Ubuntu/Ubuntu-Medium.ttf);
}

#main {
    width: 100%;
    display: flex;
}

#left {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#nav1, #nav2 {
    background-color: #F0F2F5;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#right {
    background-color: #efeae2;
    width: 60%;
    display: flex;
    flex-direction: column;
}

#l1 input {
    padding-left: 30px; 
    background: url('img/search.png') no-repeat left center;
    background-size: 20px; 
    background-color: #F0F2F5; 
    height: 40px; 
    border: none;
    outline: none;
    width: 90%;
    margin-left: 10px;
    margin: 10px;
}

#l1 {
    background-color: white;
}

#input1 {
    padding-left: 30px; 
    background: url('img/emoji.png') no-repeat left center;
    background-size: 20px; 
    border: 1px solid #ccc; 
    height: 30px;
}

#bottom {
    align-self: last baseline;
    position: fixed;
    bottom: 0;
    left: 4;
    width: 60%;
    background-color: #f0f2f5; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); 
}

img {
    width: 30px;
    height: 40px;
}

.navigation-image {
    align-self: center;
}

.t2:hover {
    background-color: #f1ece5a4;
}
.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(135, 206, 250, 0.418);
}

.profile-img img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.chat-details {
    margin-left: 10px;
}

.timestamp {
    margin-left: auto;
}
#chat-title{
    font-family: 'quick';
}